.payout {
    background-color: #FFECED;
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.m-rib{
    background-color: gray;
    margin: 5px;
    padding: 2px;
}

.txt{
    margin: 5px;
    padding: 3px;
    text-align: center;
    border: 1px solid black;
}

input{
    border: 2px solid black;
}

button{
    border: 2px solid black;
}

@media only screen and (min-width: 700px) {
    .payout{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}