@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --b-color : #BAE5FF;
  --a-color : #FFECED;
  --button-color : #FA575B ;
}

body {
  background-color: var(--b-color);
  color: whitesmoke;
  height: 100%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.buttons{
  display: flex;
  align-items: center;
  margin: 5px;
} 

.--up{
  color: black;
  background-color: var(--button-color);
  width: 5vw;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
}

.--up:hover{
  background-color: #6d9ebd;
  cursor: pointer;
}

.--in{
  color: black;
  text-decoration: none;
}

main{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero{
  display: flex;
  align-items: center;
}

.img{
  height: 40vh;
  width: 20vh;
  margin: 2px;
  border-radius: 20px;
}

#i1,#i5{
  height: 30vh;
  opacity: 0.4;
}

#i2,#i4{
  height: 35vh;
  opacity: 0.8;
}


main > p {
  width: 60vw;
}

footer{
  width: 100vw;
  background-color: var(--a-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.sc{
  width: 5vh;
  height: 5vh;
}

.contact{
  background-color: white;
  display: flex;
  justify-content: center;
  width: 40vw;
  padding: 20px;
  border: 1px solid black;
  border-radius:15px ;
  justify-content: space-around;
}

.email{
  color: var(--b-color);
  text-shadow: 0 0 1px black;
}


input{
  border: none;
  height: 4vh;
  border-radius: 10px;
  margin: 10px;
  width: 40vw;
  
}
.big-img{
  width: 50vw;
  height: 100vh;
}
.all-auth{
  display: flex;
  flex-direction: row;
}

button{
  width: 40vw;
  background-color: var(--a-color);
  border-radius: 20px;
  height: 6vh;
  border: none;
}
button:hover{
  cursor: pointer;
  border:3px solid black;
}

.vids{
  display: grid;
  grid-template-columns: auto auto auto;
}

.imge{
  width: 33vw;
  height: 15vh;
  border-radius: 20px;

}

.video{
  background-color: var(--a-color);
  margin: 5px;
  border-radius: 20px;
  overflow-wrap: break-word;

}

.video:hover {
  cursor: pointer;
  border: 2px solid black;
}

.main-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
    .buttons{
      display: flex;
      align-items: center;
      flex-direction: column;
    } 
    .--up{
      width: 15vw;
    }
    .hero{
      overflow: hidden;
    }
    .contact{
      width: 80vw;
    }
    .vids{
      display: grid;
      grid-template-columns: auto auto;
    }
    .imge{
      width: 45vw;
      height: 20vh;
      border-radius: 20px;
    }
    .video{
      width: 45vw;
    }
  }
